$black: #000;
$white: #fff;
$blue: #2d89ec;
$dark-purple: #311e3e;
$dark-pink: #87314e;
$gray: #efefef;
$light-gray: #999999;
$lighten-gray: #d9d9d9;
$dark-gray: #3e3e40;



$light-pink: #F9DECD;
$medium-pink: #E9AAA1;
$dark-pink: #EC918E;
$bright-pink: #ff99cc;
$medium-purple: #C8AAD6;
$pale-blue: #C8EBE4;
$bright-blue: #33ccff;
$medium-green: #75AF99;
$dark-green: #29675A;
