.hero {
  color: $white;
}

.hero-text {
  font-weight: 300px;
  font-size: 3em; /* 40px/16=2.5em */
  padding-top: 50px;
}

.hero-small {
  font-size: 1em; /* 40px/16=2.5em */
  text-transform: uppercase;
}

.hero-img {
  height: 350px;
  padding-top: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  text-align: center;
  align-items: center;
}

h1, h2, h3 {
  color: $white;
}
