@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&text=Lauren%Ramgattie');

.App {
  text-align: center;
  background-color: #faf0e6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  /*position: absolute;
  left: 0;
  bottom: 0;
  right: 0;*/
}

.portfolio-page {
  /*#C79563 for darker contrast*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
